#
# This is setup to help reinforce our prettier configuration (which itself is mostly aligned with prettier defaults).
# This helps ensure editors/IDEs at least compatible with .editorconfig will automatically format code properly.
#
# Please ensure adjustments in .prettierrc.json are also reflected here.
#
# For more info, see:
# https://prettier.io/docs/en/options.html
# https://editorconfig.org/
#

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
max_line_length = 120
