#page {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

button.expand-btn {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  background-color: transparent;
  border: 1px solid;
  border-color: inherit;
  border-radius: var(--expand-btn-border-radius, var(--border-radius-dropdown-button, 8px));
  color: inherit;
  display: inline-block;
  font-size: 1em;
  max-width: 100%;
  padding: 9.5px 16px;
}
button.expand-btn--fixed-height {
  height: 40px;
}
button.expand-btn--truncated {
  height: 40px;
}
button.expand-btn--truncated,
button.expand-btn--truncated span {
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
button.expand-btn:focus:not(:focus-visible) {
  outline: none;
}
button.expand-btn:hover,
button.expand-btn:focus {
  border-color: var(--expand-btn-hover-foreground-color, var(--color-b6, #2b0eaf));
  color: var(--expand-btn-hover-foreground-color, var(--color-b6, #2b0eaf));
}
button.expand-btn svg.icon {
  align-self: center;
  flex-shrink: 0;
}
button.expand-btn svg.icon:first-child {
  margin-right: 8px;
}
button.expand-btn svg.icon:last-child {
  margin-left: 8px;
}
button.expand-btn--wide {
  padding-left: 48px;
  padding-right: 48px;
}
button.expand-btn--fluid {
  width: 100%;
}
span.expand-btn__cell {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
span.expand-btn__cell--fixed-height {
  display: inline-flex;
}
span.expand-btn__cell--fixed-height > svg {
  align-self: baseline;
  max-width: calc(100% - 32px);
}
span.expand-btn__cell--truncated {
  display: inline-flex;
}
span.expand-btn__cell--truncated > svg {
  align-self: baseline;
  max-width: calc(100% - 32px);
}
span.expand-btn__cell--fixed-height svg.icon {
  align-self: center;
  overflow: visible;
}
span.expand-btn__cell--center span {
  flex: 0 1 auto;
  left: 50%;
  padding: 0 20px;
  position: relative;
  transform: translateX(-50%);
}
span.expand-btn__cell--center svg.icon:last-child {
  flex: 0 1 auto;
  margin-left: auto;
}
button.expand-btn[disabled],
button.expand-btn[aria-disabled="true"] {
  border-color: var(--expand-btn-disabled-border-color, var(--color-disabled, #c7c7c7));
  color: var(--expand-btn-disabled-foreground-color, var(--color-text-disabled, #c7c7c7));
  opacity: 1;
}
button.expand-btn svg.icon:only-child {
  display: flex;
  margin: 0;
}
button.expand-btn[aria-expanded="true"] svg.icon--dropdown {
  transform: rotate(180deg);
}
[dir="rtl"] button.expand-btn svg.icon:first-child {
  margin-left: 8px;
  margin-right: 0;
}
[dir="rtl"] button.expand-btn svg.icon:last-child {
  margin-left: 0;
  margin-right: 8px;
}
[dir="rtl"] button.expand-btn span.expand-btn__cell--center span {
  left: auto;
  right: 50%;
  transform: translateX(50%);
}
[dir="rtl"] button.expand-btn span.expand-btn__cell--center svg.icon:last-child {
  margin-left: 0;
  margin-right: auto;
}
button.expand-btn--large {
  min-height: 48px;
  padding-bottom: 13px;
  padding-top: 13px;
}
button.expand-btn--large-fixed-height {
  height: 48px;
  padding-bottom: 13px;
  padding-top: 13px;
}
button.expand-btn--large-truncated {
  height: 48px;
  padding-bottom: 13px;
  padding-top: 13px;
}
button.expand-btn--large-truncated,
button.expand-btn--large-truncated span {
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
button.expand-btn.expand-btn--no-text,
button.expand-btn.expand-btn--icon-only {
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
}
button.expand-btn--no-text.expand-btn--large,
button.expand-btn--icon-only.expand-btn--large {
  height: 48px;
}
button.expand-btn--floating-label {
  padding-bottom: 0;
  padding-top: 0;
}
button.expand-btn--floating-label .expand-btn__text {
  min-height: 19px;
  padding-bottom: 2px;
  padding-top: 17px;
}
button.expand-btn--floating-label .expand-btn__floating-label {
  align-self: flex-start;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 2px;
  padding-top: 17px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  text-overflow: ellipsis;
  transform: scale(0.75, 0.75) translate(0, -18px);
  transform-origin: left;
  white-space: nowrap;
  width: calc(100% - 24px);
  z-index: 1;
}
button.expand-btn--floating-label .expand-btn__floating-label--animate {
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), bottom 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
button.expand-btn--floating-label .expand-btn__floating-label--inline {
  font-size: 0.875rem;
  position: unset;
  transform: translate(0, -6px);
}

.listbox-button {
  line-height: normal;
  position: relative;
  vertical-align: bottom;
}
span.listbox-button {
  display: inline-block;
}
span.listbox-button--fluid,
span.listbox-button--fluid .expand-btn {
  width: 100%;
}
div.listbox-button__listbox {
  background-color: var(--listbox-button-listbox-background-color, var(--color-background-default, #fff));
  border-color: var(--listbox-button-listbox-border-color, var(--color-dropdown-border, #f7f7f7));
  border-radius: var(--listbox-button-listbox-border-radius, var(--border-radius-dropdown, 8px));
  border-style: solid;
  border-width: 1px;
  box-shadow: var(--listbox-button-listbox-box-shadow, var(--box-shadow-dropdown, 0 5px 15px rgba(0, 0, 0, 0.07)));
  box-sizing: border-box;
  display: none;
  max-height: 400px;
  min-width: 100%;
  overflow-y: auto;
  position: absolute;
  top: calc(100% + 4px);
  width: auto;
  z-index: 2;
}
button.expand-btn[aria-expanded="true"] ~ div.listbox-button__listbox {
  display: block;
}
.listbox-button button[aria-invalid="true"] {
  border-color: var(--listbox-button-invalid-border-color, var(--color-status-attention, #e0103a));
}
.listbox-button button.expand-btn--borderless {
  background-color: transparent;
  border-color: transparent;
  padding-left: 0;
  vertical-align: initial;
}
.listbox-button button.expand-btn--borderless:focus {
  outline: none;
  text-decoration: underline;
}
.listbox-button button.expand-btn--borderless[aria-expanded="true"] ~ .listbox-button__listbox {
  top: 41px;
}
.listbox-button__options[role="listbox"]:focus .listbox-button__option--active[role="option"] {
  background-color: var(--listbox-option-hover-background-color, var(--color-selection-list-item-hover-background, #e5e5e5));
  color: var(--listbox-option-hover-foreground-color, var(--color-selection-list-item-hover-foreground, #111820));
}
.listbox-button__option svg.icon {
  align-self: center;
  fill: currentColor;
  height: 10px;
  margin: 0 auto;
  opacity: 0;
  stroke: currentColor;
  stroke-width: 0;
  width: 14px;
  margin-left: 8px;
}
div.listbox-button__option[role="option"][aria-selected="true"] svg.icon {
  opacity: 1;
}
div.listbox-button__option[role="option"]:active svg.icon {
  color: var(--listbox-option-active-status-color, var(--color-selection-list-item-active-status, #fff));
}
div.listbox-button__option[role="option"] {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: inline-flex;
  font-family: inherit;
  justify-content: space-between;
  padding: 8px 15px;
  width: 100%;
  border-color: var(--listbox-option-border-color, var(--color-background-default, #fff));
  color: var(--listbox-option-foreground-color, var(--color-text-default, #111820));
  cursor: default;
}
div.listbox-button__option[role="option"]:not(:last-child) {
  margin-bottom: 1px;
}
div.listbox-button__option[role="option"]:focus {
  outline-offset: -4px;
}
div.listbox-button__option[role="option"][hidden] {
  display: none;
}
div.listbox-button__option[role="option"]:hover {
  background-color: var(--listbox-option-hover-background-color, var(--color-selection-list-item-hover-background, #e5e5e5));
  color: var(--listbox-option-hover-foreground-color, var(--color-selection-list-item-hover-foreground, #111820));
}
div.listbox-button__option[role="option"]:active {
  font-weight: bold;
}
div.listbox-button__option[role="option"]:first-child {
  border-top-left-radius: var(--border-radius-dropdown, 8px);
  border-top-right-radius: var(--border-radius-dropdown, 8px);
}
div.listbox-button__option[role="option"]:last-child {
  border-bottom-left-radius: var(--border-radius-dropdown, 8px);
  border-bottom-right-radius: var(--border-radius-dropdown, 8px);
}
div.listbox-button__option--active[role="option"] {
  font-weight: bold;
}
span.listbox-button__value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 0 auto;
}
.listbox-button__options:focus:not(:focus-visible) {
  outline: none;
}
[dir="rtl"] .listbox-button__option svg.icon {
  margin-left: 0;
  margin-right: 8px;
}


/*# sourceMappingURL=index.css.map*/