#page {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

:root {
    --border-radius-50: 8px;
    --border-radius-100: 16px;
    --border-radius-150: 24px;
    --color-neutral-100: #fff;
    --color-neutral-100-rgb: 255, 255, 255;
    --color-neutral-200: #f7f7f7;
    --color-neutral-200-rgb: 247, 247, 247;
    --color-neutral-300: #e5e5e5;
    --color-neutral-400: #c7c7c7;
    --color-neutral-500: #8f8f8f;
    --color-neutral-600: #707070;
    --color-neutral-700: #363636;
    --color-neutral-800: #191919;
    --color-neutral-800-rgb: 25, 25, 25;
    --color-neutral-900: #000;
    --color-neutral-900-rgb: 0, 0, 0;
    --color-orange-100: #fffaf5;
    --color-orange-200: #ffead3;
    --color-orange-300: #ffc382;
    --color-orange-400: #ff8806;
    --color-orange-500: #ec7303;
    --color-orange-600: #c15100;
    --color-orange-700: #562501;
    --color-orange-800: #2f1604;
    --color-coral-100: #fff7f5;
    --color-coral-200: #ffe1d7;
    --color-coral-300: #ffa78a;
    --color-coral-400: #ff6a38;
    --color-coral-500: #f3511b;
    --color-coral-600: #d03706;
    --color-coral-700: #5e1d08;
    --color-coral-800: #2f0e04;
    --color-red-100: #fff5f5;
    --color-red-200: #ffdede;
    --color-red-300: #ffa0a0;
    --color-red-400: #ff5c5c;
    --color-red-500: #f02d2d;
    --color-red-600: #d50b0b;
    --color-red-700: #570303;
    --color-red-800: #2a0303;
    --color-pink-100: #fef6fa;
    --color-pink-200: #fcdcec;
    --color-pink-300: #f79cc8;
    --color-pink-400: #f155a0;
    --color-pink-500: #de458e;
    --color-pink-600: #a51359;
    --color-pink-700: #4b112d;
    --color-pink-800: #360606;
    --color-indigo-100: #f5fbff;
    --color-indigo-200: #d3effe;
    --color-indigo-300: #80d0fd;
    --color-indigo-400: #0aa7ff;
    --color-indigo-500: #0099f0;
    --color-indigo-600: #0364ab;
    --color-indigo-700: #003c66;
    --color-indigo-800: #01193d;
    --color-blue-100: #f5f9ff;
    --color-blue-200: #d4e5fe;
    --color-blue-300: #93c9ff;
    --color-blue-400: #659eff;
    --color-blue-500: #3665f3;
    --color-blue-600: #382aef;
    --color-blue-700: #002a69;
    --color-blue-800: #19133a;
    --color-violet-100: #f6f5fe;
    --color-violet-200: #e2ddfd;
    --color-violet-300: #ad9efa;
    --color-violet-400: #836bff;
    --color-violet-500: #583aee;
    --color-violet-600: #3b1fc6;
    --color-violet-700: #271a68;
    --color-violet-800: #20092b;
    --color-lilac-100: #faf5fe;
    --color-lilac-200: #efddfd;
    --color-lilac-300: #cc9ef0;
    --color-lilac-400: #b56bf0;
    --color-lilac-500: #8935cb;
    --color-lilac-600: #631f99;
    --color-lilac-700: #3e135f;
    --color-lilac-800: #2f041e;
    --color-green-100: #fbfef6;
    --color-green-200: #f0fce1;
    --color-green-300: #d5f6aa;
    --color-green-400: #aaed56;
    --color-green-500: #92c821;
    --color-green-600: #507d17;
    --color-green-700: #345110;
    --color-green-800: #1c2d06;
    --color-jade-100: #f7fdfd;
    --color-jade-200: #d8f8ee;
    --color-jade-300: #8feace;
    --color-jade-400: #1ed49e;
    --color-jade-500: #1ed49e;
    --color-jade-600: #0f805e;
    --color-jade-700: #055743;
    --color-jade-800: #002b20;
    --color-kiwi-100: #f6fef6;
    --color-kiwi-200: #e0fae0;
    --color-kiwi-300: #a6f0a5;
    --color-kiwi-400: #4ce160;
    --color-kiwi-500: #3cc14e;
    --color-kiwi-600: #288034;
    --color-kiwi-700: #1b561a;
    --color-kiwi-800: #0c310d;
    --color-marigold-100: #fffbf5;
    --color-marigold-200: #fff0d3;
    --color-marigold-300: #ffd480;
    --color-marigold-400: #ffa800;
    --color-marigold-500: #e99a02;
    --color-marigold-600: #a36302;
    --color-marigold-700: #562f01;
    --color-marigold-800: #2f1b04;
    --color-yellow-100: #fffcf5;
    --color-yellow-200: #fff8d5;
    --color-yellow-300: #ffe58a;
    --color-yellow-400: #ffbd14;
    --color-yellow-500: #eebb04;
    --color-yellow-600: #855f00;
    --color-yellow-700: #553b06;
    --color-yellow-800: #312102;
    --color-dijon-100: #fffdf5;
    --color-dijon-200: #fcf9de;
    --color-dijon-300: #faef8a;
    --color-dijon-400: #f6e016;
    --color-dijon-500: #e8d20c;
    --color-dijon-600: #766f28;
    --color-dijon-700: #524500;
    --color-dijon-800: #2e2400;
    --color-teal-100: #f7fdfd;
    --color-teal-200: #d7f4f6;
    --color-teal-300: #8edfe5;
    --color-teal-400: #44ccd5;
    --color-teal-500: #1bbfca;
    --color-teal-600: #006f93;
    --color-teal-700: #07465a;
    --color-teal-800: #04252f;
    --color-avocado-100: #fdfef6;
    --color-avocado-200: #f8fcde;
    --color-avocado-300: #e9f5a0;
    --color-avocado-400: #e3f13c;
    --color-avocado-500: #c1d737;
    --color-avocado-600: #68770d;
    --color-avocado-700: #4e4e0c;
    --color-avocado-800: #282306;
    --color-ai-solid-green-strong: #4ee04b;
    --color-ai-solid-green-subtle: #f1fdf1;
    --color-ai-solid-green-subtle-dark: #112611;
    --color-ai-solid-blue-strong: #0968f6;
    --color-ai-solid-blue-subtle: #f0f6fe;
    --color-ai-solid-blue-subtle-dark: #112c31;
    --color-ai-solid-purple-strong: #993ee0;
    --color-ai-solid-purple-subtle: #f9f3fd;
    --color-ai-solid-purple-subtle-dark: #20172f;
    --color-ai-solid-red-strong: #ff4242;
    --color-ai-solid-red-subtle: #fff4f4;
    --color-ai-solid-red-subtle-dark: #321919;
    --color-ai-solid-yellow-strong: #ffd80e;
    --opacity-50: 0.04;
    --opacity-100: 0.08;
    --opacity-150: 0.12;
    --opacity-200: 0.16;
    --font-size-10: 0.625rem;
    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-30: 1.875rem;
    --font-size-36: 2.25rem;
    --font-size-46: 2.875rem;
    --font-size-64: 4rem;
    --font-size-smallest: var(--font-size-10);
    --font-size-small: var(--font-size-12);
    --font-size-default: var(--font-size-14);
    --font-size-medium: var(--font-size-16);
    --font-size-large-1: var(--font-size-20);
    --font-size-large-2: var(--font-size-24);
    --font-size-giant-1: var(--font-size-30);
    --font-size-giant-2: var(--font-size-36);
    --font-size-giant-3: var(--font-size-46);
    --font-size-giant-4: var(--font-size-64);
    --font-weight-regular: 500;
    --font-weight-bold: 700;
    --spacing-25: 2px;
    --spacing-50: 4px;
    --spacing-75: 6px;
    --spacing-100: 8px;
    --spacing-125: 10px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-450: 36px;
    --spacing-600: 48px;
    --spacing-700: 56px;
    --spacing-800: 64px;
}

:root {
    --color-background-primary: var(--color-neutral-100);
    --color-background-secondary: var(--color-neutral-200);
    --color-background-tertiary: var(--color-neutral-300);
    --color-background-disabled: var(--color-neutral-400);
    --color-background-inverse: var(--color-neutral-700);
    --color-background-attention: var(--color-red-600);
    --color-background-confirmation: var(--color-kiwi-600);
    --color-background-information: var(--color-blue-500);
    --color-background-education: var(--color-blue-100);
    --color-background-accent: var(--color-blue-500);
    --color-background-invalid: var(--color-red-200);
    --color-background-elevated: var(--color-neutral-100);
    --color-background-strong: var(--color-neutral-800);
    --color-background-strong-rgb: var(--color-neutral-800-rgb);
    --color-foreground-primary: var(--color-neutral-800);
    --color-foreground-secondary: var(--color-neutral-600);
    --color-foreground-disabled: var(--color-neutral-400);
    --color-foreground-attention: var(--color-red-600);
    --color-foreground-confirmation: var(--color-kiwi-600);
    --color-foreground-information: var(--color-blue-500);
    --color-foreground-accent: var(--color-blue-500);
    --color-foreground-visited: var(--color-pink-600);
    --color-foreground-on-primary: var(--color-neutral-800);
    --color-foreground-on-secondary: var(--color-neutral-800);
    --color-foreground-on-disabled: var(--color-neutral-300);
    --color-foreground-on-inverse: var(--color-neutral-100);
    --color-foreground-on-accent: var(--color-neutral-100);
    --color-foreground-on-attention: var(--color-neutral-100);
    --color-foreground-on-confirmation: var(--color-neutral-100);
    --color-foreground-on-information: var(--color-neutral-100);
    --color-foreground-on-strong: var(--color-neutral-100);
    --color-stroke-default: var(--color-neutral-500);
    --color-stroke-accent: var(--color-blue-500);
    --color-stroke-attention: var(--color-red-500);
    --color-stroke-confirmation: var(--color-kiwi-600);
    --color-stroke-information: var(--color-blue-500);
    --color-stroke-disabled: var(--color-neutral-400);
    --color-stroke-strong: var(--color-neutral-800);
    --color-stroke-subtle: var(--color-neutral-300);
    --color-state-visited: var(--color-pink-600);
    --color-state-focus-stroke: #005fcc;
    --color-state-primary-hover: #f5f5f5;
    --color-state-primary-active: #ebebeb;
    --color-state-secondary-hover: #ededed;
    --color-state-secondary-hover-rgb: 237, 237, 237;
    --color-state-secondary-active: #e3e3e3;
    --color-state-secondary-active-rgb: 227, 227, 227;
    --color-state-inverse-hover: #343434;
    --color-state-inverse-active: #323232;
    --color-state-accent-hover: #2854d9;
    --color-state-hover-foreground-on-secondary: #3461e9;
    --color-state-accent-active: #254fd2;
    --color-state-active-foreground-on-secondary: #3461e9;
    --color-state-attention-hover: #d70f38;
    --color-state-attention-active: #d70f38;
    --color-state-hover-foreground-on-secondary-desctructive: #d70f38;
    --color-state-active-foreground-on-secondary-desctructive: #d70f38;
    --color-data-viz-grid: var(--color-neutral-300);
    --color-data-viz-labels: var(--color-neutral-800);
    --color-data-viz-legend: var(--color-neutral-600);
    --color-data-viz-legend-inactive: var(--color-neutral-400);
    --color-data-viz-legend-hover: var(--color-neutral-800);
    --color-data-viz-line-chart-primary: var(--color-blue-500);
    --color-data-viz-line-chart-secondary: var(--color-violet-700);
    --color-data-viz-line-chart-tertiary: var(--color-teal-600);
    --color-data-viz-line-chart-queternary: var(--color-pink-500);
    --color-data-viz-line-chart-quinary: var(--color-pink-600);
    --color-data-viz-trend-positive: var(--color-kiwi-600);
    --color-data-viz-trend-negative: var(--color-red-600);
    --color-data-viz-chart-primary: var(--color-blue-500);
    --color-data-viz-chart-secondary: var(--color-blue-700);
    --color-data-viz-chart-tertiary-background: var(--color-indigo-200);
    --color-data-viz-chart-tertiary-stroke: var(--color-blue-500);
    --color-data-viz-chart-quaternary-background: var(--color-teal-300);
    --color-data-viz-chart-quaternary-stroke: var(--color-teal-600);
    --color-data-viz-chart-quinary-background: var(--color-teal-200);
    --color-data-viz-chart-quinary-stroke: var(--color-teal-600);
    --color-data-viz-tooltip-shadow-primary: #00000026;
    --color-data-viz-tooltip-shadow-secondary: #0000002b;
    --color-scrim-image: rgba(0, 0, 0, 0.04);
    --color-scrim-background: rgba(0, 0, 0, 0.32);
    --color-marketing-lime-foreground-4: var(--color-green-700);
    --color-marketing-lime-background-4: var(--color-avocado-500);
    --color-marketing-green-foreground-3: var(--color-kiwi-700);
    --color-marketing-green-background-3: var(--color-kiwi-400);
    --color-marketing-teal-foreground-3: var(--color-teal-7);
    --color-marketing-teal-background-3: var(--color-teal-400);
    --color-marketing-teal-foreground-5: var(--color-neutral-100);
    --color-marketing-teal-background-5: var(--color-teal-600);
    --color-marketing-yellow-foreground-3: var(--color-marigold-700);
    --color-marketing-yellow-background-3: var(--color-yellow-400);
    --color-marketing-orange-foreground-3: var(--color-coral-700);
    --color-marketing-orange-background-3: var(--color-coral-400);
    --color-marketing-magenta-foreground-4: var(--color-neutral-100);
    --color-marketing-magenta-background-4: var(--color-pink-400);
    --state-layer-focus: rgba(var(--color-neutral-900-rgb), var(--opacity-50));
    --state-layer-hover: rgba(var(--color-neutral-900-rgb), var(--opacity-50));
    --state-layer-pressed: rgba(
        var(--color-neutral-900-rgb),
        var(--opacity-100)
    );
    --state-layer-drag: rgba(var(--color-neutral-900-rgb), var(--opacity-150));
    --color-ai-gradient-full-spectrum: linear-gradient(
        223deg,
        var(--color-ai-solid-yellow-strong) 9.79%,
        var(--color-ai-solid-red-strong) 26.69%,
        var(--color-ai-solid-purple-strong) 41.82%,
        var(--color-ai-solid-blue-strong) 56.17%,
        var(--color-ai-solid-green-strong) 78.48%
    );
    --color-ai-gradient-green-strong: linear-gradient(
        270deg,
        var(--color-ai-solid-green-strong) 0%,
        #44cf63 25%,
        var(--color-ai-solid-blue-strong) 100%
    );
    --color-ai-gradient-blue-strong: linear-gradient(
        270deg,
        var(--color-ai-solid-green-strong) 0%,
        var(--color-ai-solid-blue-strong) 55.62%,
        #5751ea 75.7%,
        var(--color-ai-solid-purple-strong) 100%
    );
    --color-ai-gradient-purple-strong: linear-gradient(
        270deg,
        var(--color-ai-solid-purple-strong) 0%,
        var(--color-ai-solid-red-strong) 100%
    );
    --color-ai-gradient-purple-subtle: linear-gradient(
        270deg,
        var(--color-ai-solid-purple-subtle) 0%,
        var(--color-ai-solid-red-subtle) 100%
    );
    --color-ai-gradient-blue-subtle: linear-gradient(
        270deg,
        var(--color-ai-solid-green-subtle) -36%,
        var(--color-ai-solid-blue-subtle) -46.87%,
        var(--color-ai-solid-purple-subtle) 113%
    );
    --color-ai-gradient-green-subtle: linear-gradient(
        270deg,
        var(--color-ai-solid-green-subtle) 0%,
        var(--color-ai-solid-blue-subtle) 154.5%
    );
    --shadow-subtle: 0px 4px 12px 0px rgba(0, 0, 0, 0.07);
    --shadow-strong: 0px 5px 17px 0px rgba(0, 0, 0, 0.2),
        0px 2px 7px 0px rgba(0, 0, 0, 0.15);
    --color-loading-overlay: var(--color-neutral-100-rgb), 0.7;
    --color-loading-fill: #ededed;
    --color-loading-shimmer: linear-gradient(
        270deg,
        var(--color-loading-fill) 0%,
        var(--color-loading-fill) 34%,
        #f8f8f8 50%,
        var(--color-loading-fill) 66%,
        var(--color-loading-fill) 100%
    );
    --color-loading-fill-on-secondary: #e4e4e4;
    --color-loading-shimmer-on-secondary: linear-gradient(
        270deg,
        var(--color-loading-fill-on-secondary) 0%,
        var(--color-loading-fill-on-secondary) 34%,
        #ededed 50%,
        var(--color-loading-fill-on-secondary) 66%,
        var(--color-loading-fill-on-secondary) 100%
    );
    --color-loading-ai-gradient-purple-subtle: linear-gradient(
        270deg,
        var(--color-ai-solid-red-subtle) 0%,
        var(--color-ai-solid-red-subtle) 34%,
        var(--color-ai-solid-purple-subtle) 50%,
        var(--color-ai-solid-red-subtle) 66%,
        var(--color-ai-solid-red-subtle) 100%
    );
    --color-loading-ai-gradient-blue-subtle: linear-gradient(
        270deg,
        var(--color-ai-solid-blue-subtle) 0%,
        var(--color-ai-solid-blue-subtle) 34%,
        var(--color-ai-solid-purple-subtle) 50%,
        var(--color-ai-solid-blue-subtle) 66%,
        var(--color-ai-solid-blue-subtle) 100%
    );
    --color-loading-ai-gradient-green-subtle: linear-gradient(
        270deg,
        var(--color-ai-solid-green-subtle) 0%,
        var(--color-ai-solid-green-subtle) 34%,
        var(--color-ai-solid-blue-subtle) 50%,
        var(--color-ai-solid-green-subtle) 66%,
        var(--color-ai-solid-green-subtle) 100%
    );
    --color-media-disabled-filter: grayscale(1) opacity(0.25);
}

body {
    background-color: var(--color-background-primary);
    color: var(--color-foreground-primary);
    font-family:
        Market Sans,
        Arial,
        sans-serif;
    font-size: var(--font-size-default);
    -webkit-text-size-adjust: 100%;
}

fieldset {
    border: 0;
    padding: 0;
}

legend {
    margin-bottom: var(--spacing-100);
}

a {
    color: var(
        --link-foreground-color-default,
        var(--color-foreground-primary)
    );
}
a:visited {
    color: var(
        --link-foreground-color-visited,
        var(--color-foreground-visited)
    );
}
a:hover {
    color: var(
        --link-foreground-color-hover,
        var(--color-foreground-secondary)
    );
}
a:not([href]),
a[aria-disabled="true"] {
    color: var(
        --link-forground-color-disabled,
        var(--color-foreground-disabled)
    );
}

a.fake-btn,
button.btn {
    background-color: initial;
    border: 1px solid;
    border-radius: var(--btn-border-radius, 20px);
    box-sizing: border-box;
    color: inherit;
    display: inline-block;
    font-family: inherit;
    font-size: var(--font-size-default);
    margin: 0;
    min-height: 40px;
    min-width: 88px;
    padding: 9.5px 20px;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
}
a.fake-btn--fixed-height,
a.fake-btn--truncated,
button.btn--fixed-height,
button.btn--truncated {
    height: 40px;
}
a.fake-btn:focus-visible,
button.btn:focus-visible {
    outline-offset: var(--spacing-25);
    outline-style: solid;
    outline-width: var(--spacing-25);
}
a.fake-btn:focus:not(:focus-visible),
button.btn:focus:not(:focus-visible) {
    outline: none;
}

button.btn[aria-disabled="true"],
button.btn[disabled] {
    border-color: var(
        --expand-btn-disabled-border-color,
        var(--color-stroke-disabled)
    );
    color: var(
        --expand-btn-disabled-foreground-color,
        var(--color-foreground-disabled)
    );
}

a.fake-btn:not([href]),
a.fake-btn[aria-disabled="true"] {
    color: var(
        --link-foreground-color-disabled,
        var(--color-foreground-disabled)
    );
}

a.fake-btn--borderless,
button.btn--borderless {
    border-color: transparent;
    min-width: auto;
    padding-left: 0;
    vertical-align: initial;
}
a.fake-btn--borderless:focus,
a.fake-btn--borderless:hover,
button.btn--borderless:focus,
button.btn--borderless:hover {
    background-color: initial;
    outline: none;
    text-decoration: underline;
}

a.fake-btn--borderless[aria-disabled="true"],
a.fake-btn--borderless[disabled],
button.btn--borderless[aria-disabled="true"],
button.btn--borderless[disabled] {
    border-color: transparent;
}

a.fake-btn--borderless.btn--destructive,
button.btn--borderless.btn--destructive {
    color: var(
        --btn-secondary-destructive-foreground-color,
        var(--color-foreground-attention)
    );
}

a.fake-btn--slim,
button.btn--slim {
    height: 40px;
    min-width: auto;
    padding-left: var(--spacing-100);
    padding-right: var(--spacing-100);
}

a.fake-btn:visited {
    color: inherit;
}

a.fake-btn--fluid,
button.btn--fluid {
    width: 100%;
}

.btn__cell,
.fake-btn__cell {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn__cell--fixed-height,
.fake-btn__cell--fixed-height {
    display: inline-flex;
}
.btn__cell--fixed-height > svg,
.fake-btn__cell--fixed-height > svg {
    align-self: baseline;
    max-width: calc(100% - 32px);
}
.btn__cell--truncated,
.fake-btn__cell--truncated {
    display: inline-flex;
}
.btn__cell--truncated > svg,
.fake-btn__cell--truncated > svg {
    align-self: baseline;
    max-width: calc(100% - 32px);
}

a.fake-btn--borderless .fake-btn__cell,
a.fake-btn--form .fake-btn__cell,
button.btn--borderless .btn__cell,
button.btn--form .btn__cell {
    justify-content: space-between;
}

a.fake-btn svg.icon,
button.btn svg.icon {
    align-self: center;
}
a.fake-btn svg.icon:first-child,
button.btn svg.icon:first-child {
    margin-inline-end: 8px;
}
a.fake-btn svg.icon:last-child,
button.btn svg.icon:last-child {
    margin-inline-start: 8px;
}
a.fake-btn svg.icon:only-child,
button.btn svg.icon:only-child {
    margin: 0;
}

a.fake-btn__cell--fixed-height svg.icon,
button.btn__cell--fixed-height svg.icon {
    align-self: center;
    height: 1rem;
    overflow: visible;
    width: 1rem;
}

a.fake-btn--primary,
button.btn--primary {
    background-color: var(
        --btn-primary-background-color,
        var(--color-background-accent)
    );
    border-color: var(--btn-primary-border-color, var(--color-stroke-accent));
    color: var(
        --btn-primary-foreground-color,
        var(--color-foreground-on-accent)
    );
    font-weight: 700;
}

a.fake-btn--primary {
    outline-color: var(--color-foreground-primary);
}

a.fake-btn--primary:visited {
    color: var(
        --btn-primary-foreground-color,
        var(--color-foreground-on-accent)
    );
}

a.fake-btn--primary[href]:focus,
a.fake-btn--primary[href]:hover,
button.btn--primary:not([disabled], [aria-disabled="true"]):focus,
button.btn--primary:not([disabled], [aria-disabled="true"]):hover {
    background-blend-mode: multiply;
    filter: brightness(96%);
}
a.fake-btn--primary[href]:active,
button.btn--primary:not([disabled], [aria-disabled="true"]):active {
    filter: brightness(92%);
}

a.fake-btn--primary.fake-btn--destructive,
button.btn--primary.btn--destructive {
    background-color: var(
        --btn-primary-destructive-background-color,
        var(--color-background-attention)
    );
    border-color: var(
        --btn-primary-destructive-border-color,
        var(--color-stroke-attention)
    );
    color: var(
        --btn-primary-destructive-foreground-color,
        var(--color-foreground-on-attention)
    );
    font-weight: 700;
}

button.btn--primary.btn--destructive[aria-disabled="true"],
button.btn--primary.btn--destructive[disabled] {
    background-color: var(
        --btn-primary-destructive-disabled-background,
        var(--color-background-disabled)
    );
    border-color: var(
        --btn-primary-destructive-disabled-border,
        var(--color-stroke-disabled)
    );
}

a.fake-btn--primary.fake-btn--destructive[href]:focus,
a.fake-btn--primary.fake-btn--destructive[href]:hover,
button.btn--primary.btn--destructive:not(
        [disabled],
        [aria-disabled="true"]
    ):focus,
button.btn--primary.btn--destructive:not(
        [disabled],
        [aria-disabled="true"]
    ):hover {
    background-color: var(--color-state-attention-hover);
}
a.fake-btn--primary.fake-btn--destructive[href]:active,
button.btn--primary.btn--destructive:not(
        [disabled],
        [aria-disabled="true"]
    ):active {
    background-color: var(--color-state-attention-active);
}

button.btn .progress-spinner {
    height: 24px;
    margin: -4px 0;
    width: 24px;
}

button.btn--form .progress-spinner {
    margin-left: auto;
    margin-right: auto;
}

button.btn--primary .progress-spinner {
    --color-spinner-icon-background: var(--color-background-primary);
    --color-spinner-icon-foreground: #8fa3f8;
}

button.btn--primary.btn--destructive .progress-spinner {
    --color-spinner-icon-background: var(--color-foreground-on-accent);
    --color-spinner-icon-foreground: #ec7089;
}

a.fake-btn[aria-expanded="true"] svg.icon--12,
button.btn[aria-expanded="true"] svg.icon--12 {
    transform: rotate(180deg);
}

a.fake-btn--large svg.icon,
button.btn--large svg.icon {
    max-height: 22px;
}

a.fake-btn--small svg.icon,
button.btn--small svg.icon {
    max-height: 20px;
}

button.btn--primary[aria-disabled="true"],
button.btn--primary[disabled] {
    background-color: var(
        --btn-primary-disabled-background-color,
        var(--color-foreground-disabled)
    );
    border-color: var(
        --btn-primary-disabled-border-color,
        var(--color-foreground-disabled)
    );
    color: var(
        --btn-primary-foreground-color,
        var(--color-foreground-on-accent)
    );
}
button.btn--primary[aria-disabled="true"] svg.icon,
button.btn--primary[disabled] svg.icon {
    fill: var(
        --btn-primary-disabled-foreground-color,
        var(--color-background-primary)
    );
}

a.fake-btn--primary:not([href]),
a.fake-btn--primary[aria-disabled="true"] {
    background-color: var(
        --btn-primary-disabled-background-color,
        var(--color-foreground-disabled)
    );
    border-color: var(
        --btn-primary-disabled-border-color,
        var(--color-foreground-disabled)
    );
    color: var(
        --btn-primary-foreground-color,
        var(--color-foreground-on-accent)
    );
}

a.fake-btn--secondary,
button.btn--secondary {
    background-color: var(--btn-secondary-background-color, transparent);
    border-color: var(--btn-secondary-border-color, var(--color-stroke-accent));
}

a.fake-btn--secondary,
a.fake-btn--secondary:visited,
button.btn--secondary {
    color: var(
        --btn-secondary-foreground-color,
        var(--color-foreground-accent)
    );
}

a.fake-btn--secondary[href]:active,
button.btn--secondary:not([disabled], [aria-disabled="true"]):active {
    background-color: var(--color-state-primary-active);
    border-color: var(--color-state-active-foreground-on-secondary);
    color: var(--color-state-active-foreground-on-secondary);
}
a.fake-btn--secondary[href]:focus,
a.fake-btn--secondary[href]:hover,
button.btn--secondary:not([disabled], [aria-disabled="true"]):focus,
button.btn--secondary:not([disabled], [aria-disabled="true"]):hover {
    background-color: var(--color-state-primary-hover);
    border-color: var(--color-state-hover-foreground-on-secondary);
    color: var(--color-state-hover-foreground-on-secondary);
}

a.fake-btn--secondary.fake-btn--destructive,
button.btn--secondary.btn--destructive {
    background-color: var(
        --btn-secondary-destructive-background-color,
        transparent
    );
    border-color: var(
        --btn-secondary-destructive-border-color,
        var(--color-stroke-attention)
    );
    color: var(
        --btn-secondary-destructive-foreground-color,
        var(--color-foreground-attention)
    );
}

a.fake-btn--secondary.fake-btn--destructive[href]:focus,
a.fake-btn--secondary.fake-btn--destructive[href]:hover,
button.btn--secondary.btn--destructive:not(
        [disabled],
        [aria-disabled="true"]
    ):focus,
button.btn--secondary.btn--destructive:not(
        [disabled],
        [aria-disabled="true"]
    ):hover {
    background-color: var(--color-state-primary-hover);
    border-color: var(--color-state-hover-foreground-on-secondary-desctructive);
    color: var(--color-state-hover-foreground-on-secondary-desctructive);
}
a.fake-btn--secondary.fake-btn--destructive[href]:active,
button.btn--secondary.btn--destructive:not(
        [disabled],
        [aria-disabled="true"]
    ):active {
    background-color: var(--color-state-primary-active);
    border-color: var(
        --color-state-active-foreground-on-secondary-desctructive
    );
    color: var(--color-state-active-foreground-on-secondary-desctructive);
}

button.btn--secondary.btn--destructive .progress-spinner {
    --color-spinner-icon-background: #f39fb0;
    --color-spinner-icon-foreground: #e0103a;
}

button.btn--secondary[aria-disabled="true"],
button.btn--secondary[disabled] {
    background-color: var(
        --btn-secondary-disabled-background-color,
        var(--color-background-primary)
    );
    border-color: var(
        --btn-secondary-disabled-border-color,
        var(--color-stroke-disabled)
    );
    color: var(
        --btn-secondary-disabled-foreground-color,
        var(--color-background-disabled)
    );
}
button.btn--secondary[aria-disabled="true"] svg.icon,
button.btn--secondary[disabled] svg.icon {
    fill: var(
        --btn-secondary-disabled-foreground-color,
        var(--color-foreground-disabled)
    );
}

a.fake-btn--secondary:not([href]),
a.fake-btn--secondary[aria-disabled="true"] {
    border-color: var(
        --btn-secondary-disabled-border-color,
        var(--color-background-disabled)
    );
    color: var(
        --btn-secondary-disabled-foreground-color,
        var(--color-background-disabled)
    );
}

a.fake-btn--tertiary,
button.btn--tertiary {
    border-color: var(--btn-tertiary-border-color, var(--color-stroke-default));
}

a.fake-btn--tertiary[href]:focus,
a.fake-btn--tertiary[href]:hover,
button.btn--tertiary:not([disabled], [aria-disabled="true"]):focus,
button.btn--tertiary:not([disabled], [aria-disabled="true"]):hover {
    background-color: var(--color-state-secondary-hover);
}
a.fake-btn--tertiary[href]:active,
button.btn--tertiary:not([disabled], [aria-disabled="true"]):active {
    background-color: var(--color-state-secondary-active);
}

a.fake-btn--tertiary:not([href]),
a.fake-btn--tertiary[aria-disabled="true"],
button.btn--tertiary[aria-disabled="true"]:not(
        [aria-live="polite"][aria-disabled="true"]
    ),
button.btn--tertiary[disabled] {
    border-color: var(
        --expand-btn-disabled-border-color,
        var(--color-stroke-disabled)
    );
    color: var(
        --btn-tertiary-disabled-foreground-color,
        var(--color-background-disabled)
    );
}

a.fake-btn--tertiary.fake-btn--destructive,
button.btn--tertiary.btn--destructive {
    border-color: var(
        --btn-tertiary-destructive-foreground-color,
        var(--color-stroke-subtle)
    );
}

a.fake-btn--tertiary.fake-btn--destructive[href]:focus,
a.fake-btn--tertiary.fake-btn--destructive[href]:hover,
button.btn--tertiary.btn--destructive:not(
        [disabled],
        [aria-disabled="true"]
    ):focus,
button.btn--tertiary.btn--destructive:not(
        [disabled],
        [aria-disabled="true"]
    ):hover {
    background-color: var(--color-state-secondary-hover);
}
a.fake-btn--tertiary.fake-btn--destructive[href]:active,
button.btn--tertiary.btn--destructive:not(
        [disabled],
        [aria-disabled="true"]
    ):active {
    background-color: var(--color-state-secondary-active);
}

button.btn--tertiary.btn--destructive[aria-disabled="true"],
button.btn--tertiary.btn--destructive[disabled] {
    color: var(
        --btn-tertiary-destructive-disabled-foreground-color,
        var(--color-foreground-disabled)
    );
}

button.btn--tertiary.btn--destructive .progress-spinner {
    --color-spinner-icon-background: #ee9aab;
    --color-spinner-icon-foreground: #e0103a;
}

a.fake-btn--large,
button.btn--large {
    border-radius: var(--btn-border-radius, 24px);
    font-size: var(--font-size-medium);
    min-height: 48px;
    padding: 13px 20px;
}

a.fake-btn--small,
button.btn--small {
    border-radius: var(--btn-border-radius, 16px);
    font-size: var(--font-size-default);
    min-height: 32px;
    padding: 6px 16px;
}

a.fake-btn--form,
button.btn--form {
    border-color: inherit;
    border-radius: var(--expand-btn-border-radius, var(--border-radius-50));
    max-width: 100%;
}

a.fake-btn--form:not([href]):focus,
a.fake-btn--form:not([href]):hover,
button.btn--form:not([disabled], [aria-disabled="true"]):focus,
button.btn--form:not([disabled], [aria-disabled="true"]):hover {
    background-color: var(--color-state-primary-hover);
}
a.fake-btn--form:not([href]):active,
button.btn--form:not([disabled], [aria-disabled="true"]):active {
    background-color: var(--color-state-primary-active);
}

button.btn--form.btn--large {
    padding: 13px 20px;
}

button.btn--form.btn--small {
    padding: 6px 16px;
}
a.fake-btn--transparent,
a.fake-btn--transparent:focus,
a.fake-btn--transparent:hover,
button.btn--transparent,
button.btn--transparent:focus,
button.btn--transparent:hover {
    background-color: initial;
}

a.fake-btn--fixed-height,
button.btn--fixed-height {
    padding-top: calc(21.5px - 0.75em);
}

a.fake-btn--large-fixed-height,
button.btn--large-fixed-height {
    height: 48px;
    min-height: 48px;
    padding-top: calc(27px - 0.75em);
}

a.fake-btn--truncated,
a.fake-btn--truncated span,
button.btn--truncated,
button.btn--truncated span {
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.fake-btn--large-truncated,
button.btn--large-truncated {
    font-size: var(--font-size-medium);
    height: 48px;
    min-height: 48px;
    padding: 13px 20px;
}
a.fake-btn--large-truncated,
a.fake-btn--large-truncated span,
button.btn--large-truncated,
button.btn--large-truncated span {
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.fake-btn--split-start,
button.btn--split-start {
    border-radius: 24px 0 0 24px;
}

a.fake-btn--split-end,
button.btn--split-end {
    border-radius: 0 24px 24px 0;
    margin-left: -1px;
    min-width: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

a.fake-btn.fake-btn--tertiary.fake-btn--split-end,
button.btn.btn--tertiary.btn--split-end {
    margin-left: -2px;
}
a.fake-btn.fake-btn--primary.fake-btn--split-end,
a.fake-btn.fake-btn--primary.fake-btn--split-end:focus,
a.fake-btn.fake-btn--primary.fake-btn--split-end:hover,
button.btn.btn--primary.btn--split-end,
button.btn.btn--primary.btn--split-end:focus,
button.btn.btn--primary.btn--split-end:hover {
    border-left-color: var(
        --btn-primary-border-split-color,
        var(--color-background-primary)
    );
}

button.btn--floating-label {
    padding-bottom: 0;
    padding-top: 0;
}

button.btn--floating-label .btn__text {
    min-height: 19px;
    padding-bottom: 2px;
    padding-top: 17px;
}

button.btn--floating-label .btn__floating-label {
    align-self: flex-start;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 17px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    transform: scale(0.75) translateY(-18px);
    transform-origin: left;
    white-space: nowrap;
    width: calc(100% - 24px);
    z-index: 1;
}

button.btn--floating-label .btn__floating-label--animate {
    transition:
        transform 0.3s ease,
        bottom 0.3s ease;
}

button.btn--floating-label .btn__floating-label--inline {
    font-size: 0.875rem;
    position: unset;
    transform: translateY(-6px);
}

[dir="rtl"] a.fake-btn--split-start,
[dir="rtl"] button.btn--split-start {
    border-radius: 0 24px 24px 0;
}
[dir="rtl"] a.fake-btn--split-end,
[dir="rtl"] button.btn--split-end {
    border-radius: 24px 0 0 24px;
    margin-left: inherit;
    margin-right: -1px;
}
[dir="rtl"] a.fake-btn.fake-btn--tertiary.fake-btn--split-end,
[dir="rtl"] button.btn.btn--tertiary.btn--split-end {
    margin-right: -2px;
}
[dir="rtl"] a.fake-btn.fake-btn--primary.fake-btn--split-end,
[dir="rtl"] a.fake-btn.fake-btn--primary.fake-btn--split-end:focus,
[dir="rtl"] a.fake-btn.fake-btn--primary.fake-btn--split-end:hover,
[dir="rtl"] button.btn.btn--primary.btn--split-end,
[dir="rtl"] button.btn.btn--primary.btn--split-end:focus,
[dir="rtl"] button.btn.btn--primary.btn--split-end:hover {
    border-left-color: var(
        --btn-primary-border-color,
        var(--color-stroke-accent)
    );
    border-right-color: var(
        --primary-border-split-color,
        var(--color-stroke-subtle)
    );
}

a.icon-link {
    align-items: center;
    display: inline-flex;
}
a.icon-link > svg {
    margin: 0 auto;
}

a.icon-link,
button.icon-btn {
    background-color: var(
        --icon-button-background-color,
        var(--color-background-secondary)
    );
    border: 2px solid transparent;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: inherit;
    height: 40px;
    justify-content: center;
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
    width: 40px;
}
a.icon-link > svg,
button.icon-btn > svg {
    fill: var(
        --icon-button-icon-foreground-color,
        var(--color-foreground-primary)
    );
    max-width: 75%;
    position: relative;
}
a.icon-link:focus,
a.icon-link:hover,
button.icon-btn:focus,
button.icon-btn:hover {
    background-color: var(--color-state-secondary-hover);
}
a.icon-link:active,
button.icon-btn:active {
    background-color: var(--color-state-secondary-active);
}
a.icon-link:not(:focus-visible),
button.icon-btn:not(:focus-visible) {
    outline: none;
}

a.icon-link.icon-link--primary,
button.icon-btn.icon-btn--primary {
    background-color: var(
        --btn-primary-background-color,
        var(--color-background-accent)
    );
    border-color: var(--btn-primary-border-color, var(--color-stroke-accent));
    color: var(
        --btn-primary-foreground-color,
        var(--color-foreground-on-accent)
    );
}

a.icon-link.icon-link--primary > svg,
button.icon-btn.icon-btn--primary > svg {
    fill: var(
        --icon-button-icon-foreground-color,
        var(--color-foreground-on-accent)
    );
}

a.icon-link.icon-link--secondary > svg,
button.icon-btn.icon-btn--secondary > svg {
    fill: var(
        --icon-button-icon-foreground-color,
        var(--color-foreground-accent)
    );
}

a.icon-link.icon-link--small .progress-spinner,
button.icon-btn.icon-btn--small .progress-spinner {
    height: 20px;
    width: 20px;
}

a.icon-link.icon-link--transparent > svg,
button.icon-btn.icon-btn--transparent > svg {
    max-width: 100%;
}

a.icon-link.icon-link--small,
button.icon-btn.icon-btn--small {
    height: 32px;
    width: 32px;
}

a.icon-link.icon-link--large,
button.icon-btn.icon-btn--large {
    height: 48px;
    width: 48px;
}
a.icon-link--transparent,
a.icon-link--transparent:active,
a.icon-link--transparent:focus,
a.icon-link--transparent:hover,
button.icon-btn--transparent,
button.icon-btn--transparent:active,
button.icon-btn--transparent:focus,
button.icon-btn--transparent:hover {
    background-color: initial;
}

a.icon-link:visited > svg {
    fill: var(
        --icon-button-icon-foreground-color,
        var(--color-foreground-primary)
    );
}

a:not([href]).icon-link > svg,
a[aria-disabled="true"].icon-link > svg,
button[aria-disabled="true"].icon-btn > svg,
button[disabled].icon-btn > svg {
    background-color: initial;
    fill: var(--color-background-disabled);
}
a:not([href]).icon-link:focus > svg,
a:not([href]).icon-link:hover > svg,
a[aria-disabled="true"].icon-link:focus > svg,
a[aria-disabled="true"].icon-link:hover > svg,
button[aria-disabled="true"].icon-btn:focus > svg,
button[aria-disabled="true"].icon-btn:hover > svg,
button[disabled].icon-btn:focus > svg,
button[disabled].icon-btn:hover > svg {
    fill: var(--color-background-disabled);
}

a.icon-link:visited:focus > svg,
a.icon-link:visited:hover > svg {
    fill: var(
        --icon-button-icon-hover-foreground-color,
        var(--color-foreground-primary)
    );
}

a.icon-link.icon-link--primary:visited > svg {
    fill: var(
        --icon-button-icon-foreground-color,
        var(--color-foreground-on-accent)
    );
}

a.icon-link--badged,
button.icon-btn--badged {
    overflow: visible;
    position: relative;
}
a.icon-link--badged .badge,
button.icon-btn--badged .badge {
    left: 24px;
    pointer-events: none;
    position: absolute;
    top: -12px;
    z-index: 1;
}
a.icon-link > svg.icon--confirmation-filled-16,
a.icon-link > svg.icon--confirmation-filled-16:hover,
a.icon-link > svg.icon--confirmation-filled-24,
a.icon-link > svg.icon--confirmation-filled-24:hover,
button.icon-btn > svg.icon--confirmation-filled-16,
button.icon-btn > svg.icon--confirmation-filled-16:hover,
button.icon-btn > svg.icon--confirmation-filled-24,
button.icon-btn > svg.icon--confirmation-filled-24:hover {
    fill: var(--color-foreground-confirmation);
}
a.icon-link > svg.icon--attention-filled-16,
a.icon-link > svg.icon--attention-filled-16:hover,
a.icon-link > svg.icon--attention-filled-24,
a.icon-link > svg.icon--attention-filled-24:hover,
button.icon-btn > svg.icon--attention-filled-16,
button.icon-btn > svg.icon--attention-filled-16:hover,
button.icon-btn > svg.icon--attention-filled-24,
button.icon-btn > svg.icon--attention-filled-24:hover {
    fill: var(--color-foreground-attention);
}
a.icon-link > svg.icon--information-filled-16,
a.icon-link > svg.icon--information-filled-16:hover,
a.icon-link > svg.icon--information-filled-24,
a.icon-link > svg.icon--information-filled-24:hover,
button.icon-btn > svg.icon--information-filled-16,
button.icon-btn > svg.icon--information-filled-16:hover,
button.icon-btn > svg.icon--information-filled-24,
button.icon-btn > svg.icon--information-filled-24:hover {
    fill: var(--color-foreground-information);
}

a.icon-link.icon-link--primary,
a.icon-link.icon-link--secondary,
a.icon-link.icon-link--tertiary,
button.icon-btn.icon-btn--primary,
button.icon-btn.icon-btn--secondary,
button.icon-btn.icon-btn--tertiary {
    border-width: 1px;
}

a:not([href]).icon-link.icon-link--primary,
a[aria-disabled="true"].icon-link.icon-link--primary,
button[aria-disabled="true"].icon-btn.icon-btn--primary,
button[disabled].icon-btn.icon-btn--primary {
    background-color: var(
        --icon-button-disabled-background-color,
        var(--color-background-disabled)
    );
    border-color: var(
        --btn-primary-disabled-border-color,
        var(--color-stroke-disabled)
    );
}

a:not([href]).icon-link.icon-link--primary > svg,
a[aria-disabled="true"].icon-link.icon-link--primary > svg,
button[aria-disabled="true"].icon-btn.icon-btn--primary > svg,
button[disabled].icon-btn.icon-btn--primary > svg {
    fill: var(
        --icon-button-icon-foreground-color,
        var(--color-foreground-on-accent)
    );
}

a.icon-link.icon-link--primary .progress-spinner,
button.icon-btn.icon-btn--primary .progress-spinner {
    --color-spinner-icon-background: var(--color-background-primary);
    --color-spinner-icon-foreground: #8fa3f8;
}

a.icon-link.icon-link--secondary,
button.icon-btn.icon-btn--secondary {
    background-color: initial;
    border-color: var(--btn-secondary-border-color, var(--color-stroke-accent));
    color: var(
        --btn-secondary-foreground-color,
        var(--color-foreground-accent)
    );
}

a.icon-link.icon-link--primary:not([disabled], [aria-disabled="true"]):focus,
a.icon-link.icon-link--primary:not([disabled], [aria-disabled="true"]):hover,
button.icon-btn.icon-btn--primary:not([disabled], [aria-disabled="true"]):focus,
button.icon-btn.icon-btn--primary:not(
        [disabled],
        [aria-disabled="true"]
    ):hover {
    background-blend-mode: multiply;
    filter: brightness(96%);
}
a.icon-link.icon-link--primary:not([disabled], [aria-disabled="true"]):active,
button.icon-btn.icon-btn--primary:not(
        [disabled],
        [aria-disabled="true"]
    ):active {
    filter: brightness(92%);
}

a.icon-link.icon-link--secondary .progress-spinner,
a.icon-link.icon-link--tertiary .progress-spinner,
button.icon-btn.icon-btn--secondary .progress-spinner,
button.icon-btn.icon-btn--tertiary .progress-spinner {
    --color-spinner-icon-foreground: #3665f366;
}

a:not([href]).icon-link.icon-link--secondary,
a[aria-disabled="true"].icon-link.icon-link--secondary,
button[aria-disabled="true"].icon-btn.icon-btn--secondary,
button[disabled].icon-btn.icon-btn--secondary {
    border-color: var(
        --btn-secondary-disabled-border-color,
        var(--color-stroke-disabled)
    );
}

a:not([href]).icon-link.icon-blinktn--secondary > svg,
a[aria-disabled="true"].icon-link.icon-link--secondary > svg,
button[aria-disabled="true"].icon-btn.icon-btn--secondary > svg,
button[disabled].icon-btn.icon-btn--secondary > svg {
    fill: var(
        --icon-button-icon-foreground-color,
        var(--color-foreground-disabled)
    );
}

a.icon-link.icon-link--secondary:not([disabled], [aria-disabled="true"]):focus,
a.icon-link.icon-link--secondary:not([disabled], [aria-disabled="true"]):hover,
button.icon-btn.icon-btn--secondary:not(
        [disabled],
        [aria-disabled="true"]
    ):focus,
button.icon-btn.icon-btn--secondary:not(
        [disabled],
        [aria-disabled="true"]
    ):hover {
    background-color: var(--color-state-secondary-hover);
}
a.icon-link.icon-link--secondary:not([disabled], [aria-disabled="true"]):active,
button.icon-btn.icon-btn--secondary:not(
        [disabled],
        [aria-disabled="true"]
    ):active {
    background-color: var(--color-state-secondary-active);
}

a.icon-link.icon-link--tertiary,
button.icon-btn.icon-btn--tertiary {
    background-color: initial;
    border-color: var(--btn-primary-border-color, var(--color-stroke-default));
    color: var(--btn-primary-foreground-color, var(--color-foreground-accent));
}

a:not([href]).icon-link.icon-link--tertiary,
a[aria-disabled="true"].icon-link.icon-link--tertiary,
button[aria-disabled="true"].icon-btn.icon-btn--tertiary,
button[disabled].icon-btn.icon-btn--tertiary {
    border-color: var(
        --btn-tertiary-disabled-border-color,
        var(--color-stroke-disabled)
    );
}

a.icon-link.icon-link--tertiary:not([disabled], [aria-disabled="true"]):focus,
a.icon-link.icon-link--tertiary:not([disabled], [aria-disabled="true"]):hover,
button.icon-btn.icon-btn--tertiary:not(
        [disabled],
        [aria-disabled="true"]
    ):focus,
button.icon-btn.icon-btn--tertiary:not(
        [disabled],
        [aria-disabled="true"]
    ):hover {
    background-color: var(--color-state-secondary-hover);
}
a.icon-link.icon-link--tertiary:not([disabled], [aria-disabled="true"]):active,
button.icon-btn.icon-btn--tertiary:not(
        [disabled],
        [aria-disabled="true"]
    ):active {
    background-color: var(--color-state-secondary-active);
}

:root {
    --dialog-scrim-color-hide: rgba(17, 24, 32, 0);
    --dialog-scrim-color-show: rgba(17, 24, 32, 0.7);
    --dialog-lightbox-max-width: 616px;
    --dialog-lightbox-wide-max-width: 896px;
    --dialog-lightbox-narrow-max-width: 480px;
}

.lightbox-dialog[role="dialog"] {
    background-color: var(--dialog-scrim-color-show);
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    will-change: background-color;
    z-index: 100000;
}
.lightbox-dialog[role="dialog"]:not([hidden]) {
    display: flex;
}

.lightbox-dialog__window {
    background-color: var(
        --dialog-window-background-color,
        var(--color-background-primary)
    );
    border-radius: var(--lightbox-border-radius, var(--border-radius-150));
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin: auto auto 16px;
    max-height: 90%;
    max-width: calc(100% - 32px);
    min-height: 55px;
    min-width: 208px;
    will-change: opacity, transform;
}

.lightbox-dialog__header {
    display: flex;
    flex-shrink: 0;
    margin: var(--spacing-200) var(--spacing-200) 0;
    position: relative;
}
.lightbox-dialog__header h1,
.lightbox-dialog__header h2,
.lightbox-dialog__header h3,
.lightbox-dialog__header h4,
.lightbox-dialog__header h5,
.lightbox-dialog__header h6 {
    align-self: center;
    flex: 1 1 auto;
    margin: 0;
    overflow-wrap: anywhere;
}
.lightbox-dialog__header > :last-child:not(:only-child) {
    margin-inline-start: var(--spacing-200);
}

.lightbox-dialog__main {
    box-sizing: border-box;
    flex: 1 1 auto;
    min-height: 18px;
    overflow: auto;
    padding: var(--spacing-200);
    position: relative;
}
.lightbox-dialog__main > :first-child {
    margin-top: 0;
}
.lightbox-dialog__main > :last-child {
    margin-bottom: 0;
}

.lightbox-dialog__footer {
    border-top: 1px solid
        var(--dialog-lightbox-separator-color, var(--color-stroke-subtle));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-200);
    position: relative;
}
.lightbox-dialog__footer > :not(:first-child) {
    margin-top: var(--spacing-200);
}

.lightbox-dialog__image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--border-radius-100) var(--border-radius-100) 0 0;
    height: 218px;
    position: absolute;
    width: 100%;
}

.lightbox-dialog--expressive .lightbox-dialog__window {
    padding-bottom: var(--spacing-100);
}

.lightbox-dialog--expressive .lightbox-dialog__header > * {
    margin-top: 218px;
}

.lightbox-dialog--expressive .lightbox-dialog__header {
    margin: var(--spacing-300) var(--spacing-300) 0;
}

.lightbox-dialog--expressive .lightbox-dialog__footer,
.lightbox-dialog--expressive .lightbox-dialog__main {
    padding: var(--spacing-200) var(--spacing-300);
}
button.icon-btn.lightbox-dialog__close,
button.icon-btn.lightbox-dialog__prev {
    align-self: flex-start;
    border: 0;
    height: 32px;
    min-width: 32px;
    position: relative;
    width: 32px;
    z-index: 1;
}

button.icon-btn.lightbox-dialog__prev {
    margin-inline-end: var(--spacing-200);
}

.lightbox-dialog--expressive button.icon-btn.lightbox-dialog__close,
.lightbox-dialog--expressive button.icon-btn.lightbox-dialog__prev {
    align-self: self-start;
    margin: 0;
}

.lightbox-dialog--expressive button.icon-btn.lightbox-dialog__prev + * {
    margin-left: -32px;
}

.lightbox-dialog__title:not(:first-child) {
    margin-left: var(--spacing-200);
}

.lightbox-dialog__title--center {
    text-align: center;
}

.lightbox-dialog--hide.lightbox-dialog--mask-fade,
.lightbox-dialog--show.lightbox-dialog--mask-fade {
    transition: background-color 0.16s ease-out;
}
.lightbox-dialog--hide.lightbox-dialog--mask-fade-slow,
.lightbox-dialog--show.lightbox-dialog--mask-fade-slow {
    transition: background-color 0.32s ease-out;
}
.lightbox-dialog--hide .lightbox-dialog__window--fade,
.lightbox-dialog--show .lightbox-dialog__window--fade {
    transition: opacity 0.16s ease-out;
}
.lightbox-dialog--hide .lightbox-dialog__window--animate,
.lightbox-dialog--show .lightbox-dialog__window--animate {
    transition:
        opacity 0.16s ease-out,
        transform 0.32s ease-out;
}

.lightbox-dialog--hide.lightbox-dialog--hide,
.lightbox-dialog--hide.lightbox-dialog--show-init,
.lightbox-dialog--show-init.lightbox-dialog--hide,
.lightbox-dialog--show-init.lightbox-dialog--show-init {
    display: flex;
}
.lightbox-dialog--hide.lightbox-dialog--mask-fade,
.lightbox-dialog--hide.lightbox-dialog--mask-fade-slow,
.lightbox-dialog--show-init.lightbox-dialog--mask-fade,
.lightbox-dialog--show-init.lightbox-dialog--mask-fade-slow {
    background-color: var(--dialog-scrim-color-hide);
}
.lightbox-dialog--hide .lightbox-dialog__window--fade,
.lightbox-dialog--show-init .lightbox-dialog__window--fade {
    opacity: 0;
}
.lightbox-dialog--hide .lightbox-dialog__window--animate,
.lightbox-dialog--show-init .lightbox-dialog__window--animate {
    opacity: 0;
    transform: translateY(100%);
}

.lightbox-dialog--hide-init.lightbox-dialog--hide-init,
.lightbox-dialog--hide-init.lightbox-dialog--show,
.lightbox-dialog--show.lightbox-dialog--hide-init,
.lightbox-dialog--show.lightbox-dialog--show {
    display: flex;
}
.lightbox-dialog--hide-init.lightbox-dialog--mask-fade,
.lightbox-dialog--hide-init.lightbox-dialog--mask-fade-slow,
.lightbox-dialog--show.lightbox-dialog--mask-fade,
.lightbox-dialog--show.lightbox-dialog--mask-fade-slow {
    background-color: var(--dialog-scrim-color-show);
}
.lightbox-dialog--hide-init .lightbox-dialog__window--fade,
.lightbox-dialog--show .lightbox-dialog__window--fade {
    opacity: 1;
}
.lightbox-dialog--hide-init .lightbox-dialog__window--animate,
.lightbox-dialog--show .lightbox-dialog__window--animate {
    opacity: 1;
    transform: translateY(0);
}

.lightbox-dialog__handle {
    background-color: initial;
    border: none;
    left: 0;
    margin: -11px auto;
    padding: 8px;
    position: relative;
    right: 0;
    top: 11px;
    z-index: 2;
}
.lightbox-dialog__handle:after {
    background-color: var(--dialog-handle-color, var(--color-stroke-default));
    border-radius: 3px;
    content: "";
    display: block;
    height: 2px;
    width: 24px;
}

.lightbox-dialog__window--expanded {
    height: 95%;
    max-height: 95%;
}

[dir="rtl"] button.icon-btn.lightbox-dialog__prev .icon--16 {
    transform: rotate(180deg);
}

.lightbox-dialog--fullscreen .lightbox-dialog__window,
.lightbox-dialog--large .lightbox-dialog__window {
    align-self: center;
    height: 70%;
    margin: var(--spacing-100);
    max-height: 95%;
}

@media (max-width: 512px) {
    .lightbox-dialog--large .lightbox-dialog__window {
        height: 95%;
        max-height: 95%;
        width: 100%;
    }
    .lightbox-dialog--fullscreen .lightbox-dialog__window {
        border-radius: 0;
        height: 100%;
        margin: 0;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
    }
    .lightbox-dialog--fullscreen .lightbox-dialog__handle,
    .lightbox-dialog--large .lightbox-dialog__handle {
        display: none;
    }
}
@media (min-width: 512px) {
    .lightbox-dialog__window {
        border-radius: var(--lightbox-border-radius, var(--border-radius-100));
        margin: auto;
        max-width: calc(88% - var(--spacing-400));
    }
    .lightbox-dialog__handle {
        display: none;
    }
    .lightbox-dialog--narrow .lightbox-dialog__window {
        max-width: var(--dialog-lightbox-narrow-max-width);
    }
    .lightbox-dialog__window .lightbox-dialog__footer {
        flex-direction: row;
        justify-content: flex-end;
    }
    .lightbox-dialog__window .lightbox-dialog__footer > :not(:first-child) {
        margin-left: var(--spacing-100);
        margin-top: 0;
    }
    .lightbox-dialog--hide .lightbox-dialog__window--animate,
    .lightbox-dialog--hide-init .lightbox-dialog__window--animate,
    .lightbox-dialog--show .lightbox-dialog__window--animate,
    .lightbox-dialog--show-init .lightbox-dialog__window--animate {
        transform: translateY(0);
    }
}
@media (min-width: 768px) {
    .lightbox-dialog__window {
        max-width: var(--dialog-lightbox-max-width);
    }
    .lightbox-dialog--wide .lightbox-dialog__window {
        max-width: var(--dialog-lightbox-wide-max-width);
    }
    .lightbox-dialog--wide .lightbox-dialog__image {
        height: 256px;
    }
    .lightbox-dialog--wide.lightbox-dialog--expressive
        .lightbox-dialog__header
        > * {
        margin-top: 256px;
    }
}


/*# sourceMappingURL=index.css.map*/