/* large screens */
.confirm-dialog[role="dialog"] {
  background-color: rgba(51, 51, 51, 0.7);
  bottom: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  will-change: background-color;
  z-index: 100000;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
          justify-content: center;
}
.confirm-dialog[role="dialog"]:not([hidden]) {
  display: -webkit-box;
  display: flex;
}
.confirm-dialog__window {
  background-color: #fff;
  background-color: var(--dialog-window-background-color, #fff);
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 55px;
  will-change: opacity, transform;
  border-radius: 0;
  border-radius: var(--dialog-border-radius, 0);
  flex-basis: 616px;
  margin-top: 15vh;
  max-width: calc(100% - 32px);
}
.confirm-dialog__window {
  text-align: center;
}
.confirm-dialog__header {
  display: -webkit-box;
  display: flex;
  flex-shrink: 0;
  margin: 16px 8px 0;
  position: relative;
}
.confirm-dialog__header h1,
.confirm-dialog__header h2,
.confirm-dialog__header h3,
.confirm-dialog__header h4,
.confirm-dialog__header h5,
.confirm-dialog__header h6 {
  align-self: center;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  margin: 0 8px;
}
.confirm-dialog__header > :last-child:not(:only-child) {
  margin-left: 16px;
}
.confirm-dialog__main {
  box-sizing: border-box;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  margin: 16px;
  position: relative;
  min-height: 18px;
}
.confirm-dialog__main > :first-child {
  margin-top: 0;
}
.confirm-dialog__main > :last-child {
  margin-bottom: 0;
}
.confirm-dialog__footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 16px;
  position: relative;
}
.confirm-dialog__footer > :not(:first-child) {
  margin-top: 16px;
}
.confirm-dialog__window .confirm-dialog__footer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  padding-top: 0;
}
.confirm-dialog__window .confirm-dialog__footer > .btn {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
}
button.confirm-dialog__close {
  align-self: center;
  border: 0;
  outline-offset: -8px;
  position: relative;
  z-index: 1;
}
.confirm-dialog__title:not(:first-child) {
  margin-left: 16px;
}
.confirm-dialog__title--center {
  text-align: center;
}
.confirm-dialog--show.confirm-dialog--mask-fade,
.confirm-dialog--hide.confirm-dialog--mask-fade {
  -webkit-transition: background-color 0.16s ease-out;
  transition: background-color 0.16s ease-out;
}
.confirm-dialog--show.confirm-dialog--mask-fade-slow,
.confirm-dialog--hide.confirm-dialog--mask-fade-slow {
  -webkit-transition: background-color 0.32s ease-out;
  transition: background-color 0.32s ease-out;
}
.confirm-dialog--show .confirm-dialog__compact-window--fade,
.confirm-dialog--hide .confirm-dialog__compact-window--fade,
.confirm-dialog--show .confirm-dialog__window--fade,
.confirm-dialog--hide .confirm-dialog__window--fade {
  -webkit-transition: opacity 0.16s ease-out;
  transition: opacity 0.16s ease-out;
}
.confirm-dialog--hide.confirm-dialog--hide,
.confirm-dialog--hide.confirm-dialog--show-init,
.confirm-dialog--show-init.confirm-dialog--hide,
.confirm-dialog--show-init.confirm-dialog--show-init {
  display: -webkit-box;
  display: flex;
}
.confirm-dialog--hide.confirm-dialog--mask-fade,
.confirm-dialog--show-init.confirm-dialog--mask-fade,
.confirm-dialog--hide.confirm-dialog--mask-fade-slow,
.confirm-dialog--show-init.confirm-dialog--mask-fade-slow {
  background-color: rgba(51, 51, 51, 0);
}
.confirm-dialog--hide .confirm-dialog__compact-window--fade,
.confirm-dialog--show-init .confirm-dialog__compact-window--fade,
.confirm-dialog--hide .confirm-dialog__window--fade,
.confirm-dialog--show-init .confirm-dialog__window--fade {
  opacity: 0;
}
.confirm-dialog--show.confirm-dialog--show,
.confirm-dialog--show.confirm-dialog--hide-init,
.confirm-dialog--hide-init.confirm-dialog--show,
.confirm-dialog--hide-init.confirm-dialog--hide-init {
  display: -webkit-box;
  display: flex;
}
.confirm-dialog--show.confirm-dialog--mask-fade,
.confirm-dialog--hide-init.confirm-dialog--mask-fade,
.confirm-dialog--show.confirm-dialog--mask-fade-slow,
.confirm-dialog--hide-init.confirm-dialog--mask-fade-slow {
  background-color: rgba(51, 51, 51, 0.7);
}
.confirm-dialog--show .confirm-dialog__compact-window--fade,
.confirm-dialog--hide-init .confirm-dialog__compact-window--fade,
.confirm-dialog--show .confirm-dialog__window--fade,
.confirm-dialog--hide-init .confirm-dialog__window--fade {
  opacity: 1;
}
@media (min-width: 601px) and (max-width: 768px) {
  .confirm-dialog__window {
    max-width: calc(88% - 32px);
  }
}
@media (min-width: 769px) {
  .confirm-dialog__window {
    max-width: 616px;
  }
}
@media (min-width: 601px) {
  .confirm-dialog__window .confirm-dialog__header {
    margin: 16px 16px 0;
  }
  .confirm-dialog__window .confirm-dialog__main {
    margin: 16px 24px 24px;
  }
  .confirm-dialog__window .confirm-dialog__footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: end;
            justify-content: flex-end;
    padding: 24px;
  }
  .confirm-dialog__window .confirm-dialog__footer > :not(:first-child) {
    margin-left: 24px;
    margin-top: initial;
  }
}
@media (prefers-color-scheme: dark) {
  .confirm-dialog {
    --dialog-window-background-color: #212121;
  }
}
